# ==========================================
# DEV - SUPABASE
# ==========================================

DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=SEU_USUARIO_SUPABASE
DB_PASSWORD=SUA_SENHA_DO_SUPABASE


# ==========================================
# HOMOLOG - POSTGRESQL DOCKER
# ==========================================

HOMOLOG_POSTGRES_DB=estoque_hospital_homolog
HOMOLOG_POSTGRES_USER=estoque_app_homolog
HOMOLOG_POSTGRES_PASSWORD=SUA_SENHA_HOMOLOG

HOMOLOG_DB_URL=jdbc:postgresql://localhost:5433/estoque_hospital_homolog
HOMOLOG_DB_USERNAME=estoque_app_homolog
HOMOLOG_DB_PASSWORD=SUA_SENHA_HOMOLOG


# ==========================================
# PROD - POSTGRESQL DOCKER
# ==========================================

PROD_POSTGRES_DB=estoque_hospital
PROD_POSTGRES_USER=estoque_app
PROD_POSTGRES_PASSWORD=SUA_SENHA_PROD

PROD_DB_URL=jdbc:postgresql://localhost:5434/estoque_hospital
PROD_DB_USERNAME=estoque_app
PROD_DB_PASSWORD=SUA_SENHA_PROD