# ==========================
# DEV - SUPABASE
# ==========================

DEV_DB_URL=jdbc:postgresql://HOST_DO_SUPABASE:5432/postgres
DEV_DB_USERNAME=USUARIO_DEV
DEV_DB_PASSWORD=SENHA_DEV


# ==========================
# HOMOLOGAÇÃO - DOCKER
# ==========================

HOMOLOG_DB_URL=jdbc:postgresql://localhost:5433/estoque_hospital
HOMOLOG_DB_USERNAME=estoque_app
HOMOLOG_DB_PASSWORD=SENHA_HOMOLOG


# ==========================
# PRODUÇÃO - DOCKER
# ==========================

PROD_DB_URL=jdbc:postgresql://localhost:5432/estoque_hospital
PROD_DB_USERNAME=estoque_app
PROD_DB_PASSWORD=SENHA_PRODUCAO

# POSTGRES_PASSWORD=coloque_sua_senha_aqui